* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem 0;
}

header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo img {
  width: 50px;
}
header .logo h1 {
  font-family: "DM+Sans";
  color: #D04F4F;
  font-size: 36px;
  font-weight: 700;
}
header nav {
  width: 100%;
  margin-top: 1rem;
}
header nav .search-bar {
  position: relative;
}
header nav .search-bar #search {
  outline: none;
  background-color: #E7E7E7;
  border-radius: 5px;
  padding: 1rem;
  padding-right: 4rem;
  width: 100%;
  border: none;
  font-size: 18px;
}
header nav .search-bar #search::placeholder {
  color: #aaa;
}
header nav .search-bar #search-submit {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  cursor: pointer;
}
header nav .search-bar #search-submit img {
  width: 32px;
}
header nav .tags {
  display: flex;
  padding-top: 2rem;
  list-style-type: none;
}
header nav .tags li {
  color: #fff;
  text-transform: capitalize;
  padding: 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
}
header nav .tags li:last-child {
  margin-right: 0;
}
header nav .tags li:hover {
  filter: brightness(90%);
}
header nav .tags .ingredientTag {
  background-color: #3282F7;
}
header nav .tags .ustensilTag {
  background-color: #ED6454;
}
header nav .tags .deviceTag {
  background-color: #68D9A4;
}
header nav .filters {
  display: flex;
  margin-top: 4rem;
}
header nav .filters div {
  position: relative;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  outline: none;
  width: 170px;
  height: 68px;
  margin-right: 2rem;
}
header nav .filters div::placeholder {
  color: #fff;
}
header nav .filters div:last-child {
  margin-right: 0;
}
header nav .filters #ingredients,
header nav .filters .inputIngredients,
header nav .filters .ingredients-list {
  background-color: #3282F7;
}
header nav .filters #devices,
header nav .filters .inputDevices,
header nav .filters .devices-list {
  background-color: #68D9A4;
}
header nav .filters #ustensils,
header nav .filters .inputUstensils,
header nav .filters .ustensils-list {
  background-color: #ED6454;
}
header nav .filters input {
  outline: none;
  border: none;
  font-size: 12px;
}
header nav .filters input::placeholder {
  color: #ccc;
}
header nav .filters .ingredients-list,
header nav .filters .ustensils-list,
header nav .filters .devices-list {
  list-style-type: none;
  width: 700px;
  margin-left: -1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 5px;
}
header nav .filters .ingredients-list li,
header nav .filters .ustensils-list li,
header nav .filters .devices-list li {
  width: 33%;
  margin: 0.2rem 0;
}
header nav .filters .tagIngredient,
header nav .filters .tagUstensil,
header nav .filters .tagDevice {
  text-transform: capitalize;
  cursor: pointer;
}
header nav .filters .tagIngredient:hover,
header nav .filters .tagUstensil:hover,
header nav .filters .tagDevice:hover {
  filter: brightness(90%);
}
header nav .filters .close-ul {
  position: absolute;
  right: 25px;
  top: 20px;
}

#errorMsg {
  display: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
main article {
  width: 380px;
  height: 364px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 3rem;
}
main article .top {
  background-color: #C7BEBE;
  height: 40%;
}
main article .content {
  background-color: #E7E7E7;
  padding: 1rem;
  height: 60%;
}
main article .content div {
  display: flex;
  justify-content: space-between;
}
main article .content div:first-child {
  height: 20%;
}
main article .content .cardList {
  margin-top: 1rem;
  height: 70%;
}
main article .content h2 {
  font-size: 18px;
  font-weight: 400;
  width: 75%;
}
main article .content .div-clock {
  display: flex;
  align-items: center;
}
main article .content .div-clock img {
  margin-right: 0.5rem;
}
main article .content .div-clock .clock {
  font-weight: 700;
}
main article .content ul {
  width: 50%;
  list-style-type: none;
  font-size: 12px;
}
main article .content ul .ingredientsName {
  font-weight: 700;
}
main article .content ul .ingredientsName span {
  font-weight: 400;
}
main article .content .paragraph {
  width: 50%;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
