* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    max-width: 1240px;
    margin: 0 auto;
    padding: 2rem 0;
}

header {
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 50px;
        }
        h1 {
            font-family: 'DM+Sans';
            color: #D04F4F;
            font-size: 36px;
            font-weight: 700;
        }
    }
    nav {
        width: 100%;
        margin-top: 1rem;
        .search-bar {
            position: relative;
            #search {
                outline: none;
                background-color: #E7E7E7;
                border-radius: 5px;
                padding: 1rem;
                padding-right: 4rem;
                width: 100%;
                border: none;
                font-size: 18px;
                &::placeholder {
                    color: #aaa
                }
            }
            #search-submit {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                border: none;
                background-color: transparent;
                margin-right: 1rem;
                cursor: pointer;
                img {
                    width: 32px;
                }
            }
        }
        .filters {
            display: flex;
            justify-content: space-between;
            width: 50%;
            margin-top: 4rem;
            div {
                position: relative;
                padding: 1.5rem 1rem;
                border-radius: 5px;
                border: none;
                color: #fff;
                font-size: 18px;
                outline: none;
                width: 170px;
                &::placeholder {
                    color: #fff;
                }
            }
            #ingredients,
            .inputIngredient {
                background-color: #3282F7;
            }
            #devices,
            .inputDevices {
                background-color: #68D9A4;
            }
            #ustensils,
            .inputUstensils {
                background-color: #ED6454;
            }
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    article {
        width: 380px;
        height: 364px;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 3rem;
        .top {
            background-color: #C7BEBE;
            height: 40%;
        }
        .content {
            background-color: #E7E7E7;
            padding: 1rem;
            height: 60%;
            div {
                display: flex;
                justify-content: space-between;
            }
            div:first-child {
                height: 20%;
            }
            .cardList {
                margin-top: 1rem;
                height: 70%;
            }
            h2 {
                font-size: 18px;
                font-weight: 400;
                width: 75%;
            }
            .div-clock {
                display: flex;
                align-items: center;
                img {
                    margin-right: .5rem;
                }
                .clock {
                    font-weight: 700;
                }
            }
            ul {
                width: 50%;
                list-style-type: none;
                font-size: 12px;
                .ingredientsName {
                    font-weight: 700;
                    span {
                        font-weight: 400;
                    }
                }
            }
            .paragraph {
                width: 50%;
                font-size: 12px;
            }
        }
    }
}